body {
    background-color: cadetblue;
}

.pixelPainter {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    justify-content: center;
}

.mainColorDiv {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 250px;
    /* border: 1px solid black; */
    justify-content: space-around;
}

.paletteRows {
    display: flex;
    flex-flow: row;
}

.paletteColors {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 5px;
}

.mainCanvasDiv {
    display: flex;
    flex-flow: row;
    margin: auto;
    /* border: 1px solid black; */
    max-width: 700px;
    /* justify-content: ; */
    /* position: absolute;
    top: 70px;
    left: 300px; */

}

.canvasColumns {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    padding: 10px;
}

.daColor {
    margin: 10px;
    /* padding: 20p x; */
    min-width: 150px;
    max-width: 200px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

.clearCanvas {
    margin: 10px;
    padding: 5px;
    min-width: 100px;
    max-width: 150px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    background-color: lightslategray;
}

.eraseButt {
    margin: 10px;
    padding: 5px;
    min-width: 100px;
    max-width: 150px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    background-color: lightslategray;
}


#textCanvas {
    margin: 10px;
    /* padding: 5px; */
    max-width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 100%;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;

}

