body {
    background-color: cadetblue;
}

.pixelPainter {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.paletteRows {
    display: flex;
    flex-flow: row;
}

.paletteColors {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 5px;
}

.mainCanvasDiv {
    display: flex;
    flex-flow: row;
    /* justify-content: ; */
    position: absolute;
    top: 70px;
    left: 300px;

}

.canvasColumns {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    padding: 10px;
}

.daColor {
    margin: 10px;
    /* padding: 20p x; */
    max-width: 150px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

.clearCanvas {
    margin: 10px;
    padding: 5px;
    max-width: 150px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    background-color: lightslategray;
}

.eraseButt {
    margin: 10px;
    padding: 5px;
    max-width: 150px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    background-color: lightslategray;
}


#textCanvas {
    margin: 30px 10px 2px 30px;
    /* padding: 5px; */
    max-width: 150px;
    height: 20px;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;

}

