body {
    background-color: aquamarine;
}


.paletteRows {
    display: flex;
    flex-flow: row;
}

.paletteColors {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 5px;
}

.mainCanvasDiv {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 70px;
    left: 300px;

}

.canvasColumns {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.daColor {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

